.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }

.pad-bottom5{ padding-bottom: 5px;}
.pad-bottom10{ padding-bottom: 10px;}
.pad-bottom15{ padding-bottom: 15px;}
.pad-bottom20{ padding-bottom: 20px;}
.pad-bottom25{ padding-bottom: 25px;}


.border-bottom-gray{
	border-bottom: 1px dashed #BBBBBB;
	padding-bottom: 10px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.full-width{
	width: 100%;
}


/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
}
/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1{
	font-size: 25px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
	border-bottom: 1px dashed;
	padding-bottom: 5px;
}

h4{
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
}
select#cost_type{
	width: 100%;
	height: 2em;
	border-radius: 5px;
	font-size: 1.2em;
}
.set_tshirt_image img{
	width: 100%;
	height: auto;
}

input[type=file] {
 width: 90%;
}

@media (max-width: 768px ) {
	.btn_cost_type{
		 margin-top:10px;
	}
	select{
	margin-top:10px;	
	}
	#account_break_down input[type="number"]{
		font-size: 0.7em;
		padding: 0;
	}
}
