<div id="accounting_details" class="row top30">
	<h3>Accounting Details</h3>
	<div class="col-md-12">
		<div class="row top30 border-bottom-gray"> 

			<div id="account_material" class="col-md-2 border-bottom-gray">
			</div><!-- account_material -->

			<div id="account_collar_and_cuff" class="col-md-2 border-bottom-gray">
			</div><!-- account_collar_and_cuff -->

			<div id="account_sewing" class="col-md-2 border-bottom-gray">
			</div><!-- account_sewing -->

			<div id="account_embroidery" class="col-md-2 border-bottom-gray">
			</div><!-- account_embroidery -->

			<div id="account_printing" class="col-md-2 border-bottom-gray">
			</div><!-- account_printing -->

			<div id="account_mischelaneous" class="col-md-2 border-bottom-gray">
			</div><!-- account_mischelaneous -->

		</div>

		<div class="row top15">
			<div class="col-md-3">
				<input type="text" placeholder="Label for above selection" class="form-control">
			</div>

			<div class="col-md-2">
				<button type="button"  class="btn btn-primary center-block">
					Submit <span class="glyphicon glyphicon-log-in"></span>
				</button>
			</div>
		</div>

		<div id="account_break_down" class="row top40">
			<div class="col-md-8">

			</div>
		</div><!-- account_break_down -->

	</div><!-- col-md-12 -->
</div><!-- accounting_details -->