<div id="add_customer_details" class="col-md-4">
    <h3>Customer Details</h3>


    <form class="form-horizontal" id="cutomer_details_form" role="form">

        <div class="form-group">
            <label for="customer_name" class="col-sm-5 control-label">Customer Name:</label>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                <input type="text" class="form-control" id="customer_fname" placeholder="First Name">
            </div>
            <div class="col-sm-12 top5">
                <input type="text" class="form-control" id="customer_lname" placeholder="Last Name">
            </div>
            </div>
            </div>
        </div>


        <div class="form-group">
            <label for="contact_number" class="col-sm-5 control-label">Contact Number:</label>
            <div class="col-sm-7">
                <input type="tel" class="form-control" id="contact_number" placeholder="Contact Number">
            </div>
        </div>


        <div class="form-group">
            <label for="email" class="col-sm-5 control-label">E-mail:</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
        </div>

    </form>
</div><!-- add_customer_details -->