<div id="add_order_details" class="col-md-8">
    <h3>Order Details</h3>
    <form class="form-horizontal nopadding" id="order_details_form" role="form">

        <div class="col-md-8 nopadding">

            <div class="form-group">
                <label for="order_number" class="col-sm-5 control-label">Order Number:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="order_number" placeholder="Order Number">
                </div>
            </div>

            <div class="form-group">
                <label for="order_name" class="col-sm-5 control-label">Order Name:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="order_name" placeholder="Order Name">
                </div>
            </div>

            <div class="form-group">
                <label for="due_date" class="col-sm-5 control-label">Due Date:</label>
                <div class="col-sm-7">
                    <input type="date" class="form-control" id="due_date" placeholder="DD/MM/YYYY">
                </div>
            </div>

            <div class="form-group">
                <label for="quantity" class="col-sm-5 control-label">Quantity:</label>
                <div class="col-sm-7">
                    <input type="number" class="form-control" id="quantity" placeholder="Quantity">
                </div>
            </div>

            <div class="form-group">
                <label for="tshirt_image" class="col-sm-5 control-label">Upload Image:</label>
                <div class="col-sm-7">
                    <input type="file" id="tshirt_image">
                    <p class="help-block">(JPG, PNG)</p>
                    <button type="button" class="btn btn-primary center-block"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</button>
                </div>
            </div>

        </div>

        <div class="shirt_group col-md-4">
            <div class="set_tshirt_image"><img class="center-block" src="images/sample-tshirt-01.jpg" alt="Sample Tshirt Design"></div>
        </div><!-- shirt_group -->

    </form>
</div><!-- add_order_details -->
