<div id="cost_breakdown" class="row">
    <h3>Cost Breakdown</h3>
    <div class="col-md-12">
        <div  id="select_cost_type_section" class="row">
            <div class="col-md-8">
                <select id="select_cost_type">
                    <option value="">Cost Type...</option>
                    <option value="Material">Material</option>
                    <option value="Collar and Cuff">Collar and Cuff</option>
                    <option value="Sewing">Sewing</option>
                    <option value="Embroidery">Embroidery</option>
                    <option value="Printing">Printing</option>   
                    <option value="Mischelaneous">Mischelaneous</option>
                </select>
            </div>

<!-- 
            <div class="col-md-1">
                <button type="button"  id="btn_cost_type" class="btn btn-primary center-block">Add <span class="glyphicon glyphicon-log-in"></span></button>
            </div>

-->
        </div><!-- select_cost_type_section -->


        <div id="select_cost_section" class="row top10">
            <div class="col-md-4">

                <input type="text" class="form-control" id="description" placeholder="Description">

            </div>

            <div class="col-md-2">
                <input type="number" class="form-control" id="cost" placeholder="Cost">
            </div>

            <div class="col-md-1">
                <button type="button" id="addCostToCollection" class="btn btn-primary center-block">Add <span class="glyphicon glyphicon-log-in"></span></button>
            </div>

        </div><!-- select_cost_section -->


        <div id="cost_breakdown_container" class="row top10">

            <div class="col-md-12"></div>

        </div><!-- cost_breakdown_container -->

        <div class="col-md-12 top30">
            <button id="saveToDb"  class="btn btn-primary center-block">Submit <span class="glyphicon glyphicon-check"></span></button>
        </div>

    </div>
</div><!-- cost_breakdown -->
