<% if (models.length > 0) { %>

<div id="material_cost" class="row">
	<h4>Material</h4>
	<div class="col-md-7">
		<div id="material_cost_container">
			<div class="row">


				<% for (var i = 0; i < models.length; i++) { %>
				<% if(models[i].attributes.type == "Material") { %>

				<div class="form-group border-bottom-gray col-sm-10">
					<label class="col-sm-8 control-label">
						<%= models[i].attributes.description %>
					</label>
					<div class="col-sm-3">
						<input type="number" class="form-control" value="<%= models[i].attributes.cost %>">
					</div>
				</div>

				<% } %>
				<% } %>

			</div>
		</div>
	</div>
</div><!-- material_cost -->


<div id="collar_and_cuff" class="row">
	<h4>Collar and Cuff</h4>
	<div class="col-md-7">
		<div id="collar_and_cuff_container">
			<div class="row">

				<% for (var i = 0; i < models.length; i++) { %>
				<% if(models[i].attributes.type == "Collar and Cuff") { %>

				<div class="form-group border-bottom-gray col-sm-10">
					<label class="col-sm-8 control-label">
						<%= models[i].attributes.description %>
					</label>
					<div class="col-sm-3">
						<input type="number" class="form-control" value="<%= models[i].attributes.cost %>">
					</div>
				</div>

				<% } %>
				<% } %>

			</div>
		</div>
	</div>
</div><!-- collar_and_cuff -->


<div id="sewing_cost" class="row">
	<h4>Sewing</h4>
	<div class="col-md-7">
		<div id="sewing_cost_container">
			<div class="row">

				<% for (var i = 0; i < models.length; i++) { %>
				<% if(models[i].attributes.type == "Sewing") { %>

				<div class="form-group border-bottom-gray col-sm-10">
					<label class="col-sm-8 control-label">
						<%= models[i].attributes.description %>
					</label>
					<div class="col-sm-3">
						<input type="number" class="form-control" value="<%= models[i].attributes.cost %>">
					</div>
				</div>

				<% } %>
				<% } %>

			</div>
		</div>
	</div>
</div><!-- sewing_cost -->


<div id="embroidery_cost" class="row">
	<h4>Embroidery</h4>
	<div class="col-md-7">
		<div id="embroidery_cost_container">
			<div class="row">

				<% for (var i = 0; i < models.length; i++) { %>
				<% if(models[i].attributes.type == "Embroidery") { %>

				<div class="form-group border-bottom-gray col-sm-10">
					<label class="col-sm-8 control-label">
						<%= models[i].attributes.description %>
					</label>
					<div class="col-sm-3">
						<input type="number" class="form-control" value="<%= models[i].attributes.cost %>">
					</div>
				</div>

				<% } %>
				<% } %>

			</div>
		</div>
	</div>
</div><!-- embroidery_cost -->



<div id="printing_cost" class="row">
	<h4>Printing</h4>
	<div class="col-md-7">
		<div id="printing_cost_container">
			<div class="row">

				<% for (var i = 0; i < models.length; i++) { %>
				<% if(models[i].attributes.type == "Printing") { %>

				<div class="form-group border-bottom-gray col-sm-10">
					<label class="col-sm-8 control-label">
						<%= models[i].attributes.description %>
					</label>
					<div class="col-sm-3">
						<input type="number" class="form-control" value="<%= models[i].attributes.cost %>">
					</div>
				</div>

				<% } %>
				<% } %>

			</div>
		</div>
	</div>
</div><!-- printing_cost -->


<div id="miscellaneous_cost" class="row">
	<h4>Miscellaneous</h4>
	<div class="col-md-7">
		<div id="miscellaneous_cost_container">
			<div class="row">

				<% for (var i = 0; i < models.length; i++) { %>
				<% if(models[i].attributes.type == "Mischelaneous") { %>

				<div class="form-group border-bottom-gray col-sm-10">
					<label class="col-sm-8 control-label">
						<%= models[i].attributes.description %>
					</label>
					<div class="col-sm-3">
						<input type="number" class="form-control" value="<%= models[i].attributes.cost %>">
					</div>
				</div>

				<% } %>
				<% } %>

			</div>
		</div>
	</div>
</div><!-- miscellaneous_cost -->
<% } %>