<% if (models.length > 0) { %>
<div class="row">
<div class="col-md-12">
<select id="select_account_mischelaneous" class="form-control">
<option value="">Mischelaneous...</option>

<% for (var i = 0; i < models.length; i++) { %>
<% if(models[i].attributes.type == "Mischelaneous") { %>

<option value="<%= models[i].attributes.description %>"><%= models[i].attributes.description %></option>

<% } %>
<% } %>

</select>
</div>
</div>

<div class="row">
<div class="col-md-12">
<input type="text" class="form-control top10">
</div>
</div>
<% } %>