<% if (models.length > 0) { %>
<div class="row">
<div class="col-md-12">
<select id="select_account_printing" class="form-control">
<option value="">Printing...</option>

<% for (var i = 0; i < models.length; i++) { %>
<% if(models[i].attributes.type == "Printing") { %>

<option value="<%= models[i].attributes.description %>"><%= models[i].attributes.description %></option>

<% } %>
<% } %>

</select>
</div>
</div>

<div class="row">
<div class="col-md-12">
<input type="text" class="form-control top10">
</div>
</div>
<% } %>